body{
	padding: 0;
	margin: 0;
	background-color: #755b4d !important;
	font-family: 'Heebo', sans-serif !important;
	font-weight: 400;
}

	

/* ---------> MENU - NAV <--------*/
nav.menu-principal{
	background-color: #692021;
	box-shadow:-1px -2px 20px 0px #1E1E1E; 
	position: fixed;
	width: 100%;
	top: 0;
}

nav.menu-principal .navbar-toggler:focus{
	outline: none;
	box-shadow: none;
}

nav.menu-principal .navbar-brand{
	padding: 0;
	margin: 0;
}

nav.menu-principal .navbar-brand img{
	height: 2.5em;
}

nav.menu-principal ul.navbar-nav li.nav-item a.nav-link{
	color: #e8e1d2;
	font-size: 20px; 
}

nav.menu-principal ul.navbar-nav li.nav-item a.nav-link:hover{
	color: #c5b09e;
	text-decoration: underline;
	
}


/* ---------> SECCION - PRINCIPAL <--------*/

section.inicio{
	margin-top: 46px;
}

section.inicio h1{
	font-family: 'Sofia Sans Condensed', sans-serif;
	font-weight:1000;
	font-size: 145px; 
	color: #692021;
	text-shadow: black -1px 5px 4px;
}

section.inicio h2{
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 45px;
}

section.inicio h3{
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 45px;
}

section.inicio .que-es-rockurbano{
	display: flex;
	justify-content: center;
	background-color: #ce8a3b;
	width: 100%;
	padding: 85px;
}

section.inicio .que-es-rockurbano .texto-que-es-rockurbano{
	text-align: justify;
	font-size: 26px;
	width: 73%;
	color: white;
}

section.inicio .que-es-rockurbano .titulo-que-es-rockurbano{
	font-family: 'Sofia Sans Condensed', sans-serif;
	font-weight: 600;
	font-size: 50px;
	text-decoration: underline;
}

section.inicio .que-es-rockurbano .texto-que-es-rockurbano p{
	text-align: justify;
	font-size: 20px;
	margin-top: 35px;
	font-size: 27px;
}

section.inicio .container .info-historia{
	display: flex;
	justify-content: center;
}

section.inicio .container .info-historia .card{
	position: static;
	background-color: #cfa566;
	text-align: justify;
	padding: 8px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	width: 100%;
	border: 0;
}

section.inicio .container .info-historia .card p.card-text{
	font-size: 18px;
}

section.inicio .container .info-historia .card .card-body .card-title{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

section.inicio .container .info-bandarock .card p.card-text{
	font-size: 19px;
}


section.inicio .container .info-historia .card .card-body hr{
	border: 2px solid  #692021;;
}


section.inicio .container .info-bandarock{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

section.inicio .container .info-bandarock .card{
	position: static;
	background-color: #cfa566;
	width: 90%;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	border: 0;
}

section.inicio .container .info-bandarock .card .card-title{
	text-align: center;
	margin-bottom: 22px;
	font-size:22px;
	font-weight: bold;
}

section.inicio .container .info-bandarock .card p.card-text{
	font-size: 19px;
	text-align: justify;
}

section.inicio .container .info-musica .list-group li.list-group-item.active{
	position: static;
	z-index: auto;
}

section.inicio .container .info-musica .list-group a{
	position: static;
}

section.inicio .tabla-otras-bandas { 
	text-align: center;
}

section.inicio .tabla-otras-bandas table thead th{ 
	background-color: #c5b09e;
}

section.inicio .tabla-otras-bandas table tbody th, td{
	background-color: #e8e1d2 !important;
}



/* ---------> SECCION - RECOMENDACION MUSICAL <--------*/

section.recomendacion-musica{
	margin-top: 120px;
}

section.recomendacion-musica h1
{
	font-family: 'Sofia Sans Condensed', sans-serif;
	font-size: 45px;
	color:#692021;
	font-weight: bolder;
	text-align: center;
}

section.recomendacion-musica .container .info-musica{
	display: flex;
	justify-content: center;
}

section.recomendacion-musica .container .info-musica .list-group{
	display: flex;
	justify-content: center;
	width: 75%;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

section.recomendacion-musica .container .info-musica img.card-img-top
{
	border-top-left-radius: 0.375rem ;
	border-top-right-radius: 0.375rem; 
}

section.recomendacion-musica .container .info-musica .list-group ul{
	padding: 0;
	margin: 0;
}

section.recomendacion-musica .container .info-musica .list-group ul li{
	list-style: none;
}

section.recomendacion-musica .container .info-musica .list-group ul li.ultimo-item-lista{
	list-style: none;
	border-bottom-left-radius: 0.375rem ;
	border-bottom-right-radius: 0.375rem ;
}

section.recomendacion-musica .container .info-musica .list-group li.list-group-item.active{
	background-color: #cfa566;
	border:#cfa566; 
	border-bottom: white solid 1px;
	text-align: center;
}

section.recomendacion-musica .container .info-musica .list-group li.list-group-item.active a{
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	background-color: transparent;
	border: 0;
}

section.recomendacion-musica .container .info-musica .list-group a{
	font-size: 18px;
	position: static;
	background-color: #c5b09e;
	border: #c5b09e; 
	border-bottom: white solid 1px;
}

section.recomendacion-musica .container .info-musica .list-group a:hover{
	background-color: #cfa566;
}

section.recomendacion-musica .container .info-musica .list-group li.list-group-item.active{
	position: static;
	z-index: auto;
}



/* ---------> FOOTER - PIE DE PAGINA <--------*/

footer{
	width: 100%;
	height: auto;
	background-color: #692021;
	position: absolute;
	padding: 25px;
	display: flex;
  justify-content: center;
  align-items: center;
}

footer .informacion-footer p{
	margin:0;
}


/* ---------> MEDIA - DIMENCIONES DE TABLET HACIA ABAJO  <--------*/
@media (max-width: 990px){
	section.inicio{
		margin-top: 66px;
	}

	section.inicio h1{
		font-size: 85px; 
	}

	section.inicio h2{
		font-size: 26px;
	}

	section.inicio h3{
		font-size: 21px;
	}

	section.inicio h3{
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
		font-size: 45px;
	}

	section.inicio .que-es-rockurbano{
		padding: 23px;
	}
	section.inicio .que-es-rockurbano .texto-que-es-rockurbano{
		width: 85%;
	}

	section.inicio .que-es-rockurbano .texto-que-es-rockurbano p{
		font-size: 18px;
	}

	section.inicio .container .info-bandarock .card p.card-text{
		font-size: 16px;
	}
	

	section.inicio .container .info-historia .card{
		width: 100%;
	}

	section.inicio .container .info-historia .card .card-body .card-title{
		font-size: 19px;
	}

	section.inicio .container .info-historia .card p.card-text{
		font-size: 16px;
	}

	section.inicio .container .info-bandarock .card{
		width: 90%;
	}

	section.inicio .container .info-bandarock .card .card-title{
		font-size:19px;
	}

	section.inicio .container .info-bandarock .card p.card-text{
		font-size: 16px;
	}

	section.recomendacion-musica h1
	{
		font-size: 35px;
	}

	section.recomendacion-musica .container .info-musica .list-group{
		width: 90%;
	}
}